<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>{{pagetitle}}</title>
</head>
{{> style}}

<body>
    {{> header}}
        <div class="box-1">
            <h1 class="title">The Lost Legion</h1>
            <p>
WHEN the Indian Mutiny broke out, and a little time before the siege of Delhi, a regiment of Native Irregular Horse was stationed at Peshawur on the frontier of India. That regiment caught what John Lawrence called at the time ‘the prevalent mania,’ and would have thrown in its lot with the mutineers had it been allowed to do so. The chance never came, for, as the regiment swept off down south, it was headed up by a remnant of an English corps into the hills of Afghanistan, and there the newly-conquered tribesmen turned against it as wolves turn against buck. It was hunted for the sake of its arms and accoutrements from hill to hill, from ravine to ravine, up and down the dried beds of rivers and round the shoulders of bluffs, till it disappeared as water sinks in the sand — this officerless, rebel regiment. The only trace left of its existence today is a nominal roll drawn up in neat round hand and countersigned by an officer who called himself ‘Adjutant, late — Irregular Cavalry.’ The paper is yellow with years and dirt, but on the back of it you can still read a pencil note by John Lawrence, to this effect: ‘See that the two native officers who remained loyal are not deprived of their estates. — J. L.’ Of six hundred and fifty sabres only two stood strain, and John Lawrence in the midst of all the agony of the first months of the Mutiny found time to think about their merits.

That was more that thirty years ago, and the tribesmen across the Afghan border who helped to annihilate the regiment are now old men. Sometimes a graybeard speaks of his share in the massacre. ‘They came,’ he will say, ‘across the border, very proud, calling upon us to rise and kill the English, and go down to the sack of Delhi. But we who had just been conquered by the same English knew that they were over bold, and that the Government could account easily for those down-country dogs. This Hindustani regiment, therefore, we treated with fair words, and kept standing in one place till the redcoats came after them very hot and angry. Then this regiment ran forward a little more into our hills to avoid the wrath of the English, and we lay upon their flanks watching from the sides of the hills till we were well assured that their path was lost behind them. Then we came down, for we desired their clothes, and their bridles, and their rifles, and their boots — more especially their boots. That was a great killing — done slowly.’ Here the old man will rub his nose, and shake his long snaky locks, and lick his bearded lips, and grin till the yellow tooth-stumps show. ‘Yes, we killed them because we needed their gear, and we knew that their lives had been forfeited to God on account of their sin — the sin of treachery to the salt which they had eaten. They rode up and down the valleys, stumbling and rocking in their saddles, and howling for mercy. We drove them slowly like cattle till they were all assembled in one place, the flat wide valley of Sheor Kôt. Many had died from want of water, but there still were many left, and they could not make any stand. We went among them, pulling them down with our hands two at a time, and our boys killed them who were new to the sword. My share of the plunder was such and such — so many guns, and so many saddles. The guns were good in those days. Now we steal the Government rifles, and despise smooth barrels. Yes, beyond doubt we wiped that regiment from off the face of the earth, and even the memory of the deed is now dying. But men say —’

At At this point the tale would stop abruptly, and it was impossible to find out what men said across the border. The Afghans were always a secretive race, and vastly preferred doing something wicked to saying anything at all. They would be quiet and well-behaved for months, till one night, without word or warning, they would rush a police-post, cut the throats of a constable or two, dash through a village, carry away three or four women, and withdraw, in the red glare of burning thatch, driving the cattle and goats before them to their own desolate hills. The Indian Government would become almost tearful on these occasions. First it would say, ‘Please be good and we’ll forgive you.’ The tribe concerned in the latest depredation would collectively put its thumb to its nose and answer rudely. Then the Government would say: ‘Hadn’t you better pay up a little money for those few corpses you left behind you the other night?’ Here the tribe would temporise, and lie and bully, and some of the younger men, merely to show contempt of authority, would raid another police-post and fire into some frontier mud fort, and, if lucky, kill a real English officer. Then the Government would say: ‘Observe; if you really persist in this line of conduct you will be hurt.’ If the tribe knew exactly what was going on in India, it would apologise or be rude, according as it learned whether the Government was busy with other things, or able to devote its full attention to their performances. Some of the tribes knew to one corpse how far to go. Others became excited, lost their heads, and told the Government to come on. With sorrow and tears, and one eye on the British taxpayer at home, who insisted on regarding these exercises as brutal wars of annexation, the Government would prepare an expensive little field-brigade and some guns, and send all up into the hills to chase the wicked tribe out of the valleys, where the corn grew, into the hill-tops where there was nothing to eat. The tribe would turn out in full strength and enjoy the campaign, for they knew that their women would never be touched, that their wounded would be nursed, not mutilated, and that as soon as each man’s bag of corn was spent they could surrender and palaver with the English General as though they had been a real enemy. Afterwards, years afterwards, they would pay the blood-money, driblet by driblet, to the Government and tell their children how they had slain the redcoats by thousands. The only drawback to this kind of picnic-war was the weakness of the redcoats for solemnly blowing up with powder their fortified towers and keeps. This the tribes always considered mean.

Chief among the leaders of the smaller tribes — the little clans who knew to a penny the expense of moving white troops against them — was a priest-bandit-chief whom we will call the Gulla Kutta Mullah. His enthusiasm for border murder as an art was almost dignified. He would cut down a mail-runner from pure wantonness, or bombard a mud fort with rifle fire when he knew that our men needed to sleep. In his leisure moments he would go on circuit among his neighbours, and try to incite other tribes to devilry. Also, he kept a kind of hotel for fellow-outlaws in his own village, which lay in a valley called Bersund. Any respectable murderer on that section of the frontier was sure to lie up at Bersund, for it was reckoned an exceedingly safe place. The sole entry to it ran through a narrow gorge which could be converted into a death-trap in five minutes. It was surrounded by high hills, reckoned inaccessible to all save born mountaineers, and here the Gulla Kutta Mullah lived in great state, the head of a colony of mud and stone huts, and in each mud but hung some portion of a red uniform and the plunder of dead men. The Government particularly wished for his capture, and once invited him formally to come out and be hanged on account of a few of the murders in which he had taken a direct part. He replied:—

‘I am only twenty miles, as the crow flies, from your border. Come and fetch me.’

‘Some day we will come,’ said the Government, ‘and hanged you will be.’

The Gulla Kutta Mullah let the matter from his mind. He knew that the patience of the Government was as long as a summer day; but he did not realise that its arm was as long as a winter night. Months afterwards, when there was peace on the border, and all India was quiet, the Indian Government turned in its sleep and remembered the Gulla Kutta Mullah at Bersund with his thirteen outlaws. The movement against him of one single regiment — which the telegrams would have translated as war — would have been highly impolitic. This was a time for silence and speed, and, above all, absence of bloodshed.

You must know that all along the north-west frontier of India there is spread a force of some thirty thousand foot and horse, whose duty it is quietly and unostentatiously to shepherd the tribes in front of them. They move up and down, and down and up, from one desolate little post to another; they are ready to take the field at ten minutes’ notice; they are always half in and half out of a difficulty somewhere along the monotonous line; their lives are as hard as their own muscles, and the papers never say anything about them. It was from this force that the Government picked its men.

One night at a station where the mounted Night Patrol fire as they challenge, and the wheat rolls in great blue-green waves under our cold northern moon, the officers were playing billiards in the mud-walled club-house, when orders came to them that they were to go on parade at once for a night-drill. They grumbled, and went to turn out their men — a hundred English troops, let us say, two hundred Goorkhas, and about a hundred cavalry of the finest native cavalry in the world.

When they were on the parade-ground, it was explained to them in whispers that they must set off at once across the hills to Bersund. The English troops were to post themselves round the hills at the side of the valley; the Goorkhas would command the gorge and the death-trap, and the cavalry would fetch a long march round and get to the back of the circle of hills, whence, if there were any difficulty, they could charge down on the Mullah’s men. But orders were very strict that there should be no fighting and no noise. They were to return in the morning with every round of ammunition intact, and the Mullah and the thirteen outlaws bound in their midst. If they were successful, no one would know or care anything about their work; but failure meant probably a small border war, in which the Gulla Kutta Mullah would pose as a popular leader against a big bullying power, instead of a common border murderer.

Then there was silence, broken only by the clicking of the compass needles and snapping of watch-cases, as the heads of columns compared bearings and made appointments for the rendezvous. Five minutes later the parade-ground was empty; the green coats of the Goorkhas and the overcoats of the English troops had faded into the darkness, and the cavalry were cantering away in the face of a blinding drizzle.

What the Goorkhas and the English did will be seen later on. The heavy work lay with the horses, for they had to go far and pick their way clear of habitations. Many of the troopers were natives of that part of the world, ready and anxious to fight against their kin, and some of the officers had made private and unofficial excursions into those hills before. They crossed the border, found a dried river bed, cantered up that, walked through a stony gorge, risked crossing a low hill under cover of the darkness, skirted another hill, leaving their hoof-marks deep in some ploughed ground, felt their way along another watercourse, ran over the neck of a spur, praying that no one would hear their horses grunting, and so worked on in the rain and the darkness, till they had left Bersund and its crater of hills a little behind them, and to the left, and it was time to swing round. The ascent commanding the back of Bersund was steep, and they halted to draw breath in a broad level valley below the height. That is to say, the men reined up, but the horses, blown as they were, refused to halt. There was unchristian language, the worse for being delivered in a whisper, and you heard the saddles squeaking in the darkness as the horses plunged.

The subaltern at the rear of one troop turned in his saddle and said very softly:—

‘Carter, what the blessed heavens are you doing at the rear? Bring your men up, man.’

There was no answer, till a trooper replied:—

‘Carter Sahib is forward — not there. There is nothing behind us.’

‘There is,’ said the subaltern. ‘The squadron’s walking on its own tail.’

Then the Major in command moved down to the rear swearing softly and asking for the blood of Lieutenant Halley — the subaltern who had just spoken.

‘Look after your rearguard,’ said the Major. ‘Some of your infernal thieves have got lost. They’re at the head of the squadron, and you’re a several kinds of idiot.’

‘Shall I tell off my men, sir?’ said the subaltern sulkily, for he was feeling wet and cold.

‘Tell ’em off!’ said the Major. ‘Whip ’em off, by Gad! You’re squandering them all over the place. There’s a troop behind you now!’

‘So I was thinking,’ said the subaltern calmly. ‘I have all my men here, sir. Better speak to Carter.’

‘Carter Sahib sends salaam and wants to know why the regiment is stopping,’ said a trooper to Lieutenant Halley.

‘Where under heaven is Carter?’ said the Major.

‘Forward with his troop,’ was the answer.

‘Are we walking in a ring, then, or are we the centre of a blessed brigade?’ said the Major.

By this time there was silence all along the column. The horses were still; but, through the drive of the fine rain, men could hear the feet of many horses moving over stony ground.

‘We’re being stalked,’ said Lieutenant Halley.</p>
    </div>
    {{> footer}}
</body>


</html>
