<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pagetitle}}</title>
</head>

{{> style}}

<body>
    {{> header}}
        <div class="box-1">
          <h1>It happened when youth and optimism were my boon companions.</h1>
            <p>The breezes of spring came wafting down Matienzo street in Las Cañitas around 11:00 o'clock on a Thursday, the only day of the week that my teaching schedule left me free. I taught Language and Literature in more than one high school, I was twenty-seven and full of enthusiasm for books and imagination.

     I was sitting on the balcony drinking maté and rereading, after a lapse of fifteen years, the enchanting adventures of King Solomon's Mines. (I noted sadly that when I was a boy I had enjoyed them much more.)

     Suddenly I felt someone watching me.

     I looked up. On one of the balconies of the building facing mine, at the same height as my own apartment, I spied a young woman. I raised a hand and waved. She waved back and left the balcony.

     Curious to know where this might lead, I tried to get a glimpse inside her apartment, with no result.

     "This will go nowhere," I said to myself, and returned to my reading. I hadn't read ten lines before she was back on her balcony, this time with dark glasses, and she sat down on a deckchair.

     I began feverishly making signs and gestures. The young woman was reading — or pretending to read — a magazine. "It's a ruse," I thought; "it's not possible that she doesn't see me, and now she's posing so I can enjoy the show." I couldn't quite make out her features, but I could tell she was tall and slender and her hair, dark and straight, came down to her shoulders. Overall, she seemed to be a beautiful girl, maybe twenty-four or twenty-five years old.

     I left the balcony, went to my bedroom, and peered through the shutters. She was looking in my direction. So I ran out and caught her in flagrante delicto.

     I sent her a big, pompous wave which demanded a response. Indeed, she waved back. After such greetings, the usual thing is to strike up a conversation. But of course we were not going to shout across to each other. So I raised my right-hand index finger to my ear and made the rotational movement that, as everyone knows, meant I wanted to call her on the telephone. Sinking her head into her shoulders and opening her hands, the young woman indicated, again and again, that she didn't understand. Bitch! How could she not understand?</p>
        </div>
    {{> footer}}
</body>
<script>
</script>

</html>
