<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pagetitle}}</title>
    <!-- <link rel="stylesheet" href="css.css" type="text/css"> -->
</head>
<style>
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 19px;
        color: #00ffaa;
    }
</style>
{{> style}}

<body>

    {{> header}}
    <p>welcome to our page</p>
    {{> footer}}
</body>
<script>
</script>

</html>