*font of the site*/
     {
    font-family: 'Times New Roman', Times, sans-serif;
}
/*the body properties*/
body {
    background-color: #C0956A;
    align-content: auto;
    font-weight: 500;
    margin: 0;
    line-height: 1.4em;
}
/*container of the story box*/
.container {
    width: 83%;
    margin: auto;
    margin-top: 30px;
}
/*style of the paragraph*/
.box-1 {
    align-self: center;
    align-content: auto;
    padding: 15px;
    width: 1000px;
    align-self: auto;
    border-width:4px;
    border-style: solid;
    border-radius: 40px;
    border-color: #C24B51;
    margin: 10px;
}

.box-1 p{
    text-align: justify;
    text-decoration-color: black;
}


.box-1 .title {
    color:white;
    font-size: 28px;

}
/*style of the maintenince page*/
.main1 {
    font-size: 25px;
    letter-spacing: 0.1em;
    word-spacing: 1.2em;
    align-content: center;
    margin: 60px;
    padding: 10px;
}
/*style of the box2 in the footer*/
.box2 a{
    text-decoration-line: none;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-color: #C24B51;
    border-radius: 5px;
    background-color: #C24B51;
    padding: 4px;
}

.box2 a:hover{
    border-color: #6e1313;
    background-color: #6e1313;
    color: white;
}
/*style in the header file*/
.dropdown {
    align-content: baseline;
    width: -webkit-fill-available;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #C24B51;
    border-color:#C24B51;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    height: 50px;
    min-height: 40px;
}
/* Style The Dropdown Button */
.droptn {
    padding: 5px;
    margin: 0px;
    background-color: #C24B51;
    border-style: solid;
    border-width: 2px;
    border-color: #A24B52;
    border-radius: 5px;
    width: fit-content;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#C24B51;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#A24B52;}

/* Show the dropdown menu on hover */
.droptn:hover .dropdown-content{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .droptn {
    background-color:#6e1313;
}
/* align the menu in the header */
.text-align {
    display: block;
    width: 100px;
    background-color: #C24B51;
    margin: 0px;
    padding: 10px;
    height: 80px;
}
.box31 {
    color: white;
    margin: 0px;
    padding: 0px;
}

.box31 a {
    font-size: 28px;
    background-color: #C24B51;
    text-decoration-line: none;
    text-align: center;
    padding: 1px;
    margin: 4px;
    
}

.box31 a:hover {
    color: white;
    border-color: #6e1313;
    background-color: #6e1313;
}

/*style of the story title*/
.box4 h1 {
    align-content: center;
    font-size: 26px;
}
/*style of the site name to make it more eye plusre*/
.box-sitename a{
    align-content: center;
    font-size: 26px;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    margin: 0;
}
.box-sitename a{
    background-color: #6e1313;
    color: white;
}
.box-sitename a:hover{
    text-decoration: none;
    color:white;
    border-color: #6e1313;
}
.box-sitename a:visited{
    text-decoration: none;
    color:inherit;
}
.box-sitename a:link{
    text-decoration: none;
    color:inherit;
}
.box-sitename a:active{
    text-decoration: none;
    color:inherit;
}
/*style of the header */
.box-header title {
    color: white;
}
.box-header title a{
    font-size: 28px;
    background-color: #C24B51;
    text-decoration-line: none;
    text-align: center;
    padding: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: #C24B51;
    border-radius: 3px;
    margin: 8px;
}

.box-header title a:hover{
    color: white;
    border-color: #6e1313;
    background-color: #6e1313;
}

.box-first {
  align-items: center;
  box-align: center;
    background-color: #C24B51;
    color: whitesmoke;
    padding: 10px;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C24B51;
    margin: 10px;
    width: fit-content;
}

.box-first p{
    text-align: justify;
    font-size: 18px;
}

.box-first .title {
    color:white;
    font-size: 28px;
}