<header>
        <div class="dropdown">
            <div class="droptn">Catagories</div>
            <div class="dropdown-content">
            <a href="/action">Action</a>
            <a href="/dramma">Dramma</a>
            <a href="/sci">Sci-Fi</a>
            <a href="/thriller">Thriller</a>
            <a href="/horror">Horror</a>
            <a href="/romantic">Romantic</a>
            <a href="/comidy">Commidy</a>
        </div>

</header>


{{!-- dropdown is the box 3  --}}

{{!-- droptn is box31 --}}