<header>
 
        <div class="box3">
            <div class="box31"><a href="/">A story of Wisdom</a></div>

        <ul>
            <li><a href="/about">Action</a></li>
            <li><a href="">Dramma</a></li>
            <li><a href="">Sci-fi</a></li>
            <li><a href="">Thriller</a></li>
            <li><a href="">Commidy</a></li>
            <li><a href="">Horror</a></li>
        </ul>
        <p>.</p>
        </div>
    
</header>