<header>
    <div class='box3'>
        <h1>Stories catagory</h1>
        <ul>
            <li>Action</li>
            <li>Dramma</li>
            <li>Sci-fi</li>
            <li>Thriller</li>
            <li>Commidy</li>
            <li>Horror</li>
        </ul>
        <p>.</p>
    </div>
</header>