<header>

        <div class="box3">
            <div class="box31"><a href="/">A story of Wisdom</a></div>
        <ul>
            <li><a href="/action">Action</a></li>
            <li><a href="/drama">Dramma</a></li>
            <li><a href="/sci">Sci-fi</a></li>
            <li><a href="/thriller">Thriller</a></li>
            <li><a href="/comidy">Comidy</a></li>
            <li><a href="/horror">Horror</a></li>
            <li><a href="romantic">Romanitc</a></li>
        </ul>
        </div>

</header>
