<header>
    <div class='box4'>
      <a href="/">A story of Wisdom</a>
        </div>
        <div class="box3">
        <ul>
            <li><button><a href="/about">Action</a></button></li>
            <li><button><a href="">Dramma</a></button></li>
            <li><button><a href="">Sci-fi</a></button></li>
            <li><button><a href="">Thriller</a></button></li>
            <li><button><a href="">Commidy</a></button></li>
            <li><button><a href="">Horror</a></button></li>
        </ul>
        <p>.</p>
        </div>
    
</header>